html { 
  background: url(bgpic.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}





#central {
    display: flex;
    background-color: snow;
    width: 90%;
    height: 85vh;
    position: fixed;
    left: 50%;
    top: 50%;   
    transform: translate(-50%, -50%);
    overflow-x:hidden;
    overflow-y:hidden;
    border-radius: 20px;
    
  
}


#left {
    flex: 1;
    font-family: 'Gotham';
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));

}

#right {
    flex: 1;
   
}
#profpic {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 0px 20px 20px 0px;
    
}

 .button {
        background:    #000000;
        border-radius: 30px;
        padding:       20px 45px;
        color:         #ffffff;
        display:       inline-block;
        font:          italic bold 56px/1 "Roboto", sans-serif;
        text-align:    center;
    }

@media only screen and (max-width: 736px) {
    
    #central {
        display: flex;
        flex-direction: column-reverse;
    }
    
     #left {
        flex: 0 0 100%;
        max-height: 50%;
        min-height: 50%;
        max-width: 100%;
    }
    

    #right {
        flex: 0 0 100%;
        max-height: 50%;
        min-height: 50%;
        max-width: 100%;

    }
    
    #profpic {  
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        object-position: top;
    }

   
    
    
}
